Repository jakala-na/next-contentful-starterkit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,css,md}": "yarn format",
  "*.js": [
    "eslint --fix",
    "git add"
  ],

}

chore: upgrade to 14.2.8
  package.json
  yarn.lock
Due: yarn format

chore: rebase with main
  yarn.lock
Due: none

fix: try to fix build by removing dynamic imports
  components/component-renderer/mappings.ts
Due: yarn format

feat(cli): rename inquirer folder to cli
  cli/generate-component.mjs
  cli/prompts.mjs
  cli/scaffolds/components/index.{{ext}}
  cli/scaffolds/components/{{hyphenCase name}}-client.{{ext}}
  cli/scaffolds/components/{{hyphenCase name}}.{{ext}}
  cli/scaffolds/ui/index.{{ext}}
  cli/scaffolds/ui/{{hyphenCase name}}.stories.{{ext}}
  cli/scaffolds/ui/{{hyphenCase name}}.{{ext}}
  cli/utils.mjs
  package.json
Due: yarn format

feat: demo ctf studio experience with hero banenr component
  app/[locale]/experience/[...slug]/page.tsx
  components/Experience.tsx
  components/hero-banner-ctf/hero-banner-ctf-client.tsx
  components/hero-banner-ctf/hero-banner-ctf-exp-client.tsx
  components/ui/hero-banner/hero-banner.stories.tsx
  components/ui/hero-banner/hero-banner.tsx
  lib/getPageSlug.ts
  lib/studio-config.ts
  package.json
  yarn.lock
Due: yarn format

chore: upgrade to yarn latest (v4) to support 'yarn dlx' in order to use next-codemod
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn format

feat(cli): improve scaffold props
  cli/prompts.mjs
  cli/scaffolds/components/{{hyphenCase name}}-client.{{ext}}
  cli/scaffolds/ui/{{hyphenCase name}}.stories.{{ext}}
  cli/scaffolds/ui/{{hyphenCase name}}.{{ext}}
Due: none

chore: replace <a> with <Link> to resolve eslint @next/next/no-html-link-for-pages
  components/site-header/site-header.tsx
Due: yarn format

chore: execute next 15 update using @next/codemod@canary
  app/[locale]/[[...slug]]/page.tsx
  app/[locale]/layout.tsx
  app/api/disable-draft/route.ts
  app/api/draft/route.ts
  package.json
  yarn.lock
Due: yarn format

fix: ignore gql artifacts in Prettier
  .prettierignore
  gql/graphql-cache.d.ts
  gql/graphql-env.d.ts
Due: yarn format

chore: upgrade storybook to v8.4, upgrade @radix-ui
  package.json
  yarn.lock
Due: yarn format

chore: upgrade @typescript-eslint/* to v8.13
  package.json
  yarn.lock
Due: yarn format

chore: add missing @types/lodash to dev dependencies
  package.json
  yarn.lock
Due: yarn format

chore: update draftMode() calls for async use
  app/[locale]/[[...slug]]/page.tsx
  app/[locale]/layout.tsx
  components/site-header/site-header.tsx
Due: yarn format

feat: add optional UI prompt, upgrade inquirer
  cli/generate-component.mjs
  cli/prompts.mjs
  cli/scaffolds/components/{{hyphenCase name}}-client.{{ext}}
  cli/utils.mjs
  package.json
  yarn.lock
Due: yarn format

ci: test bad code
  components/ui/button/button.tsx
Due: yarn format

chore: add corepack enable command to chromatic to account for yarn update
  .github/workflows/chromatic.yml
Due: none

refactor: add typing to componment renderer, refactor imports and fragments
  app/[locale]/[[...slug]]/page.tsx
  cli/scaffolds/components/{{hyphenCase name}}-client.{{ext}}
  cli/scaffolds/components/{{hyphenCase name}}.{{ext}}
  cli/utils.mjs
  components/component-renderer/component-renderer.tsx
  components/component-renderer/mappings.ts
  components/duplex-ctf/duplex-ctf-client.tsx
  components/duplex-ctf/duplex-ctf.tsx
  components/hero-banner-ctf/hero-banner-ctf-client.tsx
  components/hero-banner-ctf/hero-banner-ctf.tsx
  components/hooks/use-component-preview.ts
  components/topic-business-info/topic-business-info-client.tsx
  components/topic-business-info/topic-business-info.tsx
  components/topic-person/topic-person-client.tsx
  components/topic-person/topic-person.tsx
  docs/components.md
  gql/graphql-env.d.ts
Due: yarn format

feat: move to pnpm
  .github/workflows/chromatic.yml
  README.md
  cypress.config.ts
  cypress/README.md
  docs/components.md
  docs/data-fetching.md
  gql/graphql-cache.d.ts
  gql/graphql-env.d.ts
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: yarn format, eslint --fix

feat: move to turborepo with a single package
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: yarn format

fix(tests): upgrade cypress to v13 to fix Typescript errors. Fix eslint
  .vscode/settings.json
  apps/marketing/.eslintignore
  apps/marketing/.eslintrc.js
  apps/marketing/.gitignore
  apps/marketing/cypress/e2e/example/example.ts
  apps/marketing/cypress/tsconfig.json
  apps/marketing/package.json
  pnpm-lock.yaml
Due: yarn format, eslint --fix

fix(cli): convert cli generate:component to new monorepo paths and eslint rules
  apps/marketing/.eslintignore
  apps/marketing/cli/scaffolds/components/{{hyphenCase name}}-client.{{ext}}
  apps/marketing/cli/scaffolds/components/{{hyphenCase name}}.{{ext}}
  apps/marketing/cli/scaffolds/ui/{{hyphenCase name}}.stories.{{ext}}
  apps/marketing/cli/scaffolds/ui/{{hyphenCase name}}.{{ext}}
  apps/marketing/cli/utils.mjs
Due: none

docs: add Turborepo arch decision
  docs/decisions/010-turborepo.md
Due: yarn format

docs: update docs for turborepo
  README.md
  docs/components.md
  docs/data-fetching.md
  packages/ui/README.md
  packages/ui/components/README.md
Due: yarn format

chore: upgrade to Next 15
  apps/marketing/app/[locale]/[[...slug]]/page.tsx
  apps/marketing/app/[locale]/layout.tsx
  apps/marketing/app/api/disable-draft/route.ts
  apps/marketing/app/api/draft/route.ts
  apps/marketing/components/site-header/site-header.tsx
  apps/marketing/package.json
  lint-staged.config.js
  packages/config-eslint/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: yarn format, eslint --fix

fix: move turbo env config to separate package turbo.json
  apps/marketing/turbo.json
  turbo.json
Due: yarn format

docs: update links to docs and demo site
  README.md
  apps/docs/app/layout.config.tsx
Due: yarn format

chore: upgrade docs site to Next 15
  apps/docs/package.json
  package.json
  pnpm-lock.yaml
Due: yarn format

fix: fix home slug in generateStaticParams
  apps/marketing/app/[locale]/[[...slug]]/page.tsx
Due: yarn format

fix: fix typescript/eslint rules version mismatch due to depedency dupes
  pnpm-lock.yaml
Due: none

perf(docs): enable turbopack dev in docs app
  apps/docs/package.json
Due: yarn format

feat: add TopicProduct UI and data components
  apps/marketing/app/[locale]/[[...slug]]/page.tsx
  apps/marketing/components/component-renderer/mappings.ts
  apps/marketing/components/topic-product/index.tsx
  apps/marketing/components/topic-product/topic-product-client.tsx
  apps/marketing/components/topic-product/topic-product.tsx
  apps/marketing/gql/schema.graphql
  packages/ui/components/topic-product/index.ts
  packages/ui/components/topic-product/topic-product.tsx
Due: yarn format

feat: add TopicProductFeature support to TopicProduct; add stories for TopicProduct
  apps/marketing/app/[locale]/[[...slug]]/page.tsx
  apps/marketing/components/topic-product-feature/index.ts
  apps/marketing/components/topic-product-feature/topic-product-feature.tsx
  apps/marketing/components/topic-product/index.ts
  apps/marketing/components/topic-product/topic-product-client.tsx
  apps/marketing/components/topic-product/topic-product.tsx
  apps/marketing/gql/graphql-cache.d.ts
  packages/ui/components/topic-product/topic-product.stories.tsx
  packages/ui/components/topic-product/topic-product.tsx
Due: yarn format

feat: add support for fetching and displaying taxonomy concepts
  apps/marketing/app/[locale]/[[...slug]]/page.tsx
  apps/marketing/app/[locale]/layout.tsx
  apps/marketing/components/topic-product/topic-product-client.tsx
  apps/marketing/components/topic-product/topic-product.tsx
  apps/marketing/lib/get-page-slug.ts
  apps/marketing/lib/get-taxonomy-concepts.ts
  apps/marketing/lib/graphql-client.ts
  apps/marketing/lib/modify-response-exchange.ts
  apps/marketing/lib/rest-client.ts
  apps/marketing/package.json
  packages/ui/components/topic-product/topic-product.stories.tsx
  packages/ui/components/topic-product/topic-product.tsx
  pnpm-lock.yaml
Due: yarn format

chore: remove redundant property definition
  apps/marketing/app/[locale]/[[...slug]]/page.tsx
Due: yarn format

chore: fix inaccurate comment
  apps/marketing/lib/modify-response-exchange.ts
Due: yarn format
