Repository jakala-na/next-contentful-starterkit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,css,md}": "yarn format",
  "*.js": [
    "eslint --fix",
    "git add"
  ],

}

Husky config.
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .lintstagedrc.js
Due: yarn format, eslint --fix

Husky config.
  .husky/pre-commit
Due: none

Husky config.
  .husky/pre-commit
  .lintstagedrc.js
  package.json
Due: yarn format, eslint --fix

Husky config.
  .husky/pre-commit
  .lintstagedrc.js
Due: yarn format, eslint --fix

feat: Enable static pre-rendering for all pages
  app/[[...slug]]/page.tsx
  gql/gql.ts
  gql/graphql.schema.json
  gql/graphql.ts
  gql/schema.graphql
Due: yarn format

feat: Extract debug info into an overlay
  app/[[...slug]]/page.tsx
  components/debug-mode/debug-mode-bar.tsx
  components/debug-mode/debug-mode-trigger.tsx
  components/ui/table.tsx
  package.json
  yarn.lock
Due: yarn format

feat: Move debug timestamp to a server component to display server time
  app/[[...slug]]/page.tsx
  components/debug-mode/debug-mode-bar.tsx
  components/debug-mode/debug-mode.tsx
Due: yarn format

feat: Adopt gql.tada as replacement for graphql-codegen's client-preset
  app/[[...slug]]/page.tsx
  app/layout.tsx
  codegen.ts
  components/asset-ctf/asset-ctf.tsx
  components/duplex-ctf/duplex-ctf-client.tsx
  components/duplex-ctf/duplex-ctf.tsx
  components/hero-banner-ctf/hero-banner-ctf-client.tsx
  components/hero-banner-ctf/hero-banner-ctf.tsx
  components/image-ctf/image-ctf.tsx
  components/navigation/navigation.tsx
  components/page/page.tsx
  components/rich-text-ctf/rich-text-ctf.tsx
  gql/fragment-masking.ts
  gql/gql.ts
  gql/graphql-env.d.ts
  gql/graphql.schema.json
  gql/graphql.ts
  gql/index.ts
  lib/getPageSlug.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn format

feat: Upgrade gql.tada to 1.5.1 and use new CLI schema and cache functions
  gql/graphql-cache.d.ts
  gql/graphql-env.d.ts
  gql/schema.graphql
  package.json
  tsconfig.json
  yarn.lock
Due: yarn format

feat: Remove graphql-codegen configs and packages
  codegen.ts
  package.json
  yarn.lock
Due: yarn format

feat: Add gql.tada docs
  README.md
Due: yarn format

docs: Add architecture decision records
  docs/decisions/000-template.md
  docs/decisions/001-graphql-typescript.md
  docs/decisions/002-app-router.md
  docs/decisions/003-graphql-codegen.md
  docs/decisions/004-testing-cypress.md
  docs/decisions/005-ui-library.md
  docs/decisions/006-storybook.md
  docs/decisions/007-adopt-gql.tada.md
  docs/decisions/README.md
Due: yarn format

feat(forms): fix gql.tada fragment
  components/form-ctf/from-ctf-client.tsx
Due: yarn format

feat: replace graphql-request with urql
  app/[[...slug]]/page.tsx
  app/layout.tsx
  gql/graphql-cache.d.ts
  gql/graphql-env.d.ts
  lib/getPageSlug.ts
  lib/graphqlClient.ts
  package.json
  yarn.lock
Due: yarn format

feat: enable APQ and document urql decision
  app/layout.tsx
  docs/decisions/007-adopt-urql.md
  lib/graphqlClient.ts
  package.json
  yarn.lock
Due: yarn format

feat: remove unused urql packages
  package.json
  yarn.lock
Due: yarn format

style: improve existent UI. Add demo radix components.
  components/navigation/navigation.tsx
  components/ui/duplex/duplex.tsx
  components/ui/hero-banner/hero-banner.tsx
  components/ui/navigation-menu.tsx
  components/ui/sheet.tsx
  package.json
  yarn.lock
Due: yarn format

style: Reformat with Prettier and tidy up
  components/navigation/navigation.tsx
Due: yarn format

Add `.idea` folder to ignore JetBrains project personal settings.
  .gitignore
Due: none

feat(#7 - lint): added new packages to enable eslint, prettier and husky actions.
  .eslintrc.json
  .husky/pre-commit
  .prettierrc.json
  lint-staged.config.js
  package.json
  yarn.lock
Due: yarn format, eslint --fix

fix: fix misspelled build-storybook command
  package.json
Due: yarn format

feat: enhance prettier formatting.
  .prettierrc.json
  components/navigation/navigation.tsx
  components/page/page.tsx
  package.json
  yarn.lock
Due: yarn format

fix: reformat remaining files.
  app/[[...slug]]/page.tsx
  app/layout.tsx
  components/component-renderer/component-renderer.tsx
  components/component-renderer/mappings.ts
  components/contentful-preview-provider/contentful-preview-provider.tsx
  components/debug-mode/debug-mode-bar.tsx
  components/debug-mode/debug-mode-trigger.tsx
  components/duplex-ctf/duplex-ctf-client.tsx
  components/duplex-ctf/duplex-ctf.tsx
  components/hero-banner-ctf/hero-banner-ctf-client.tsx
  components/hero-banner-ctf/hero-banner-ctf.tsx
  components/hooks/use-component-preview.ts
  components/icons/icons.tsx
  components/image-ctf/image-ctf.tsx
  components/rich-text-ctf/rich-text-ctf.tsx
  components/site-header/site-header.tsx
  components/ui/button/button.stories.tsx
  components/ui/button/button.tsx
  components/ui/duplex/duplex.tsx
  components/ui/hero-banner/hero-banner.tsx
  components/ui/navigation-menu.tsx
  components/ui/sheet.tsx
  components/ui/table.tsx
  lib/getPageSlug.ts
  lib/utils.ts
Due: yarn format

fix: updated prettier formatting. reformat files.
  .eslintrc.json
  .graphqlrc.yml
  .prettierrc.json
  .storybook/main.ts
  app/[[...slug]]/page.tsx
  app/layout.tsx
  components/component-renderer/mappings.ts
  components/contentful-preview-provider/contentful-preview-provider.tsx
  components/debug-mode/debug-mode-bar.tsx
  components/debug-mode/debug-mode-trigger.tsx
  components/duplex-ctf/duplex-ctf-client.tsx
  components/duplex-ctf/duplex-ctf.tsx
  components/hero-banner-ctf/hero-banner-ctf-client.tsx
  components/hero-banner-ctf/hero-banner-ctf.tsx
  components/hooks/use-component-preview.ts
  components/icons/icons.tsx
  components/image-ctf/image-ctf.tsx
  components/navigation/navigation.tsx
  components/page/page.tsx
  components/rich-text-ctf/rich-text-ctf.tsx
  components/site-header/site-header.tsx
  components/ui/button/button.stories.tsx
  components/ui/button/button.tsx
  components/ui/duplex/duplex.tsx
  components/ui/hero-banner/hero-banner.tsx
  components/ui/navigation-menu.tsx
  components/ui/sheet.tsx
  components/ui/table.tsx
  cypress.config.ts
  cypress/e2e/example/example.ts
  gql/schema.graphql
  lib/getPageSlug.ts
  lib/utils.ts
  tailwind.config.js
  theme.ts
Due: yarn format, eslint --fix

Set draft mode cookie as secure for local environment
  app/api/disable-draft/route.ts
  app/api/draft/route.ts
Due: yarn format

Set draft mode cookie as secure for local environment (#39)
  app/api/disable-draft/route.ts
  app/api/draft/route.ts
Due: yarn format

Rename 007-adopt-urql.md to 008-adopt-urql.md
  docs/decisions/008-adopt-urql.md
Due: yarn format

Implement Localization.
  app/[locale]/[[...slug]]/page.tsx
  app/[locale]/layout.tsx
  app/layout.tsx
  components/navigation/navigation.tsx
  locales/client.ts
  locales/de.ts
  locales/en.ts
  locales/get-locale-from-path.ts
  locales/server.ts
  middleware.ts
  package.json
  yarn.lock
Due: yarn format

Refactor localization code.
  app/[locale]/[[...slug]]/page.tsx
  app/[locale]/head.tsx
  app/[locale]/layout.tsx
  app/[locale]/locale-provider.tsx
  app/layout.tsx
Due: yarn format

Add language switcher.
  components/language-selector/index.ts
  components/language-selector/language-selector.tsx
  components/navigation/navigation.tsx
  locales/client.ts
Due: yarn format

Make language switcher work with translatable slugs.
  app/[locale]/[[...slug]]/page.tsx
  app/[locale]/layout.tsx
  app/[locale]/locale-provider.tsx
  components/language-data-provider/index.ts
  components/language-data-provider/language-data-provider.tsx
  components/language-data-provider/language-data-setter.tsx
  components/language-selector/language-selector.tsx
  ui/context/index.ts
  ui/context/language-data.context.ts
  ui/hooks/index.ts
  ui/hooks/use-language-data-context.hook.ts
Due: yarn format

Fix language switcher homepage path.
  app/[locale]/[[...slug]]/page.tsx
Due: yarn format

Add the possibility to disable localization.
  middleware.ts
Due: yarn format

Add decision log.
  docs/decisions/009-localization.md
Due: yarn format

Add alternate links.
  app/[locale]/[[...slug]]/page.tsx
Due: yarn format
